*.class

# Package Files #
*.jar
*.war
*.ear

*.java~
*.launch~
*.yaml~
*.sh~
*.gitignore~

*.old*
*.bak*

bin/
build/
.gradle/

*.classpath
*.project
*.settings

*.log

README.html

*/msg_gen
*/srv_gen
drink_sensor/src/drink_sensor

*.pyc