<launch>

  <!--- Run AMCL using differential drive version, as B21 can't move sideways -->
  <include file="$(find butler)/launch/navigation/amcl_hamzah.launch" />
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 
    <rosparam file="$(find butler)/nav_configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find butler)/nav_configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find butler)/nav_configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find butler)/nav_configs/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find butler)/nav_configs/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find butler)/nav_configs/move_base_params.yaml" command="load" />
    
    <!-- remap topics for b21 -->
    <remap from="/odom" to="/b21/odom"/>
    <remap from="/cmd_vel" to="/b21/cmd_vel"/>
  </node>

</launch>
