<launch>
  <param name="butler/map/p1a" value="-1.149" type="double" />
  <param name="butler/map/p1b" value="5.108" type="double" />
  <param name="butler/map/p2a" value="-13.040" type="double" />
  <param name="butler/map/p2b" value="-6.069" type="double" />
  <param name="butler/map/p3a" value="15.486" type="double" />
  <param name="butler/map/p3b" value="-13.611" type="double" />
  <param name="butler/map/p4a" value="2.832" type="double" />
  <param name="butler/map/p4b" value="-24.263" type="double" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find butler)/maps/lg2.yaml"/>

  <!-- Run localisation -->
  <include file="$(find butler)/launch/navigation/amcl.launch" />

</launch>
