<launch>

  <!-- include all drivers -->

  <include file="$(find butler)/launch/bham_b21_launch/laser.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/rflex.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/tf.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/joystick.launch" /> 

<!--include file="$(find ps3joy)/ps3.launch" /--> 
  <include file="$(find butler)/launch/kinect_ptu.launch" />
  <include file="$(find butler)/launch/ptu.launch" />
  <!--include file="$(find butler)/launch/use_kinect_laser_scan.launch" /-->
  <include file="$(find init_ptu)/launch/init_ptu.launch" />
  <include file="$(find butler)/launch/voxel.launch" />
  <include file="$(find brake)/launch/brake.launch" />
  <include file="$(find qr)/launch/qr.launch">
    <arg name="n" value="$(arg n)"/>
  </include>
  <include file="$(find butler)/launch/talker.launch" />
  <include file="$(find drink_sensor)/launch/drink_sensor.launch" />

</launch>
