<launch>

  <!-- kinect launch --> 
  <param name="camera/driver/data_skip" value="5"/>
  <param name="xtion/driver/data_skip" value="5"/>

  <!-- kinect tracker -->
  <!--node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" respawn="true" output="screen" /-->

  <!-- kinect to laser scan launch -->
  <!--include file="$(find final_year_project)/launch/kinect_to_laser_scan.launch" respawn="true" /-->

  <!--node pkg="tf" type="static_transform_publisher" name="base_camera_link" args="0 0 0.01 0 0 0 /ptu_mount /openni_camera 100"/--> 

  <node pkg="tf" type="static_transform_publisher" name="camera_frame_link" args="0 0 0 0 0 0 /openni_camera /openni_depth_frame 100"/> 

  <node pkg="tf" type="static_transform_publisher" name="camera_depth_frame_link" args="0 0 0 0 0 0 /openni_camera /camera_link 100"/>


<!--

 <node pkg="tf" type="static_transform_publisher" name="xtion_frame_link" args="0 0 0 0 0 0 /openni_xtion /openni_depth_frame 100"/> / -->


  <!--node pkg="tf" type="static_transform_publisher" name="base_xtion_link" args="0.08 0 -0.20 0 0.90 0 /ptu_base /openni_xtion 100"/--> 



  <node pkg="tf" type="static_transform_publisher" name="base_xtion_link" args="0.11 0 -0.20 0 1.07 0 /ptu_base /openni_xtion 100"/> 
  <node pkg="tf" type="static_transform_publisher" name="base_camera_link" args="0.007 0.0 0.127 0.0 0.60 0.0 /ptu_base /openni_camera 100"/> 

  <node pkg="tf" type="static_transform_publisher" name="xtion_depth_frame_link" args="0 0 0 0 0 0 /openni_xtion /xtion_link 100"/> 

</launch>
