<launch>

  <!-- include all drivers -->

  <include file="$(find butler)/launch/bham_b21_launch/laser.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/rflex.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/tf.launch" />
  <include file="$(find butler)/launch/bham_b21_launch/joystick.launch" />

</launch>
